# Connection： Comma-separated list
RPC_ENDPOINTS=https://api.mainnet-beta.solana.com, https://api.mainnet-beta.solana.com
RPC_WEBSOCKET_ENDPOINT=wss://api.mainnet-beta.solana.com

# Redis Configuration
# Redis connection URL
REDIS_URL=redis://127.0.0.1:6379/

# K-line timeout in seconds (default: 60)
# K-lines will be automatically deleted after this many seconds of inactivity
KLINE_TIMEOUT_SECS=60

# Notification Configuration
# Enable/disable notifications
NOTIFICATION_ENABLED=true
# Path to the notification script
NOTIFICATION_SCRIPT_PATH=./scripts/notify.sh